@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #15252e;
	--color-prime: #15252e;
	--color-prime-foreground: #ffffff;
	--color-cream: #f9f2ea;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-prime: var(--color-prime);
	--color-prime-foreground: var(--color-prime-foreground);
	--color-cream: var(--color-cream);
	--font-sans: var(--font-inter);
}

body {
	background: var(--background);
	color: var(--foreground);
}
